@font-face {
  font-family: 'Joti One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Z9XVDmdJQAmWm9TwaYTe.ttf) format('truetype');
}
@font-face {
  font-family: 'Luckiest Guy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/_gP_1RrxsjcxVyin9l9n_j2RSg.ttf) format('truetype');
}
